header{
    display: flex;
    padding-bottom: 5px;
}

#header-name {
  color: goldenrod;
  font-weight: 900;
  font-size: 32pt;
  text-shadow: 10px 7px 25px grey;
  /*text-decoration: underline grey;*/
  padding-left: 10px;
  flex-grow: 1;
}

#dot {
  color: black;
}

#js {
  color: skyblue;
  font-style: italic;
}

/*section footer*/
footer {
  text-align: center;
}

/*section body*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body.dark{
    background-color: rgba(44, 44, 43) !important;
    color : white !important;
}
article {
  flex-grow: 1;
}

/* section editor */
#editor {
  display: flex;
  align-content: center;
}

#editor > *:first-child {
  flex-grow: 1;
}

#editor > *:first-child > * {
  height: 100%;
  width: 100%;
}

#editor-form{
    text-align: center;
}

.flex-col {
    display: flex;
    align-content: center;
}

.flex-col>*{
    text-align: center;
    padding: 10px;
}

input[type="number"]{
    width: 100px;
}

.center {
    text-align: center;
}